@page "/AboutMe"
@model Chirp.Razor.Pages.UserProfileModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <h1>dhjsjfhfjapfjhajgpojs9jpsmgaoigsgpishgshgf</h1>
    }
</div>