# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Chirp.CLI.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


Chirp.CLI/obj/Chirp.CLI.csproj.nuget.dgspec.json
Chirp.CLI/obj/Chirp.CLI.csproj.nuget.g.props
Chirp.CLI/obj/project.assets.json
Chirp.CLI/obj/project.nuget.cache
Chirp.generated.sln