html {
    min-height: 100%;
}

body {
    background: linear-gradient(0deg, rgba(3,0,51,1) 0%, rgba(13,0,116,1) 20%, rgba(0,162,244,1) 85%);
  font-family: 'Consolas', monospace;
  font-size: 14px;
    min-height: 100%;
    margin-bottom: 0;
}

a {
    color: #007af4;
    font-size: medium;
}

a:hover {
  color: #4900f4;
}

b {
    color: white;
}

.paragraph {
    color: white;
    margin: 5px 5px 10px;
}

.text-info {
    color: white;
}

.logoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoBox div img {
    width: 120px;
}

.logoBox div h1 {
    font-size: 80px;
    color: white;
    margin: 0;
    text-shadow: 1px 1px 5px #066999;
}

input[type="email"],
input[type="text"],
input[type="tel"],
input[type="password"] {
    background: white;
    border: 1px solid #00A2F4;
    padding: 2px;
    font-family: 'Consolas', monospace;
    font-size: 14px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #066999;
    height: 16px;
}

input[type="submit"] {
    background: #00A2F4;
    border: 1px solid #066999;
    padding: 1px 3px;
    font-family: 'Consolas', monospace;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
    height: 22px;
}

div.page {
  background: transparent;
  width: 700px;
  margin-inline: auto;
    margin-top: 10px;
}

div.page > h1 {
  background: #00A2F4;
  margin: 0;
  padding: 10px 14px;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0 0 3px #066999;
  font-weight: normal;
  font-size: 80px;
}

div.page h1 img {
  height: 10px;
}

div.page div.navigation {
  background: white;
    padding: 5px 10px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  font-size: 12px;
  letter-spacing: 0.5px;
}

div.page div.navigation a {
  color: #000325;
  font-weight: bold;
}

div.page div.navigation a:hover {
    color: #400054;
    font-weight: bold;
}

div.page div.navigation form {
    display: contents;
}

div.page div.navigation form button {
    margin: unset;
    padding: unset;
    background: unset;
    color: #444;
    font-weight: bold;
    display: inline-block;
    font-size: unset;
    cursor: pointer;
    text-decoration: underline;
    font-family: unset;
    letter-spacing: unset;
}

.siteTitle {
    color: #00A2F4;
    text-shadow: 0 1px 2px #066999;
    font-size: 42px;
}

label {
    color: white;
    font-size: 14px;
}

.text-danger {
    color: #ff0000;
    font-size: 14px;
}

div.page h2 {
  margin: 0 0 0 5px;
  color: #00A2F4;
  text-shadow: 0 1px 2px #066999;
    font-size: 42px;
}

div.page h3 {
    margin: 0 0 0 5px;
    color: #00A2F4;
    text-shadow: 0 1px 2px #066999;
    font-size: 21px;
}

.descriptor {
    color: white;
}

div.page div.body {
    padding: 10px;
    background: #000325;
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -5px;
}

div.page div.footer {
  background: #eee;
  color: #888;
  padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  font-size: 12px;
    margin-top: -5px;
}

div.page div.followstatus {
  border: 1px solid #ccc;
  background: #E3EBEA;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 3px;
  font-size: 13px;
}

div.page ul.cheeps {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.page ul.cheeps li {
  margin: 10px 0;
  padding: 10px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.page ul.cheeps p {
  margin: 0;
}

div.page ul.cheeps li img {
  float: left;
  padding: 0 10px 0 0;
}

div.page ul.cheeps li small {
    font-size: 0.9em;
    color: #888;
}

div.page div.cheepbox {
  margin: 10px 0;
  padding: 5px;
  background: #000325;
  border: 1px solid #00A2F4;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.page div.cheepbox h3 {
  margin: 0;
  font-size: 1em;
  color: #00A2F4;
}

div.page div.cheepbox p {
  margin: 0;
}

div.page div.cheepbox input[type="text"] {
  width: 585px;
}

div.page div.cheepbox input[type="submit"] {
  width: 70px;
  margin-left: 5px;
}

div.message {
  list-style: none;
  margin: 10px 10px 0 10px;

  background: #f3b9b9;
  border: 1px solid #ce8181;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

ul.message li {
  background: #f3b9b9;
  border: 1px solid #ce8181;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.error {
  margin: 10px 0;
  background: #FAE4E4;
  border: 1px solid #DD6F6F;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.topics {
  width: 180px;
  height: 250px;
  background: #ffffff;
  border: 1px solid #e29494;
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 460px;
  padding: 10px;
}

ul.topic {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.topic {
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 20px;
}

form * {
    margin: 2px 0;
}

button {
    background-color: #00A2F4;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #0069e1;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00A2F4;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: #066999;
}
